<!DOCTYPE html>
<html lang="en">
  <title>Data Collector App</title>
  <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">

          {{text | safe}}
      
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Collecting Height</h1>
          <h3>Please fill the entries to get the population statistics on height</h3>
          <form action="{{url_for('success')}}" method="POST">
            <input type="email" title="Your email will be safe with us" placeholder="Enter your email address" name="email_name" required/>
            <input type="number" min="50" max="300" title="Your data will be safe with us" placeholder="Enter your height in cm" name="height_cm" required/>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
